#
# SERVER
#

server/node_modules
server/dist
server/npm-debug.log
server/public/doc


#
# CLIENT
#

# compiled output
client/dist
client/tmp
client/out-tsc

# dependencies
client/node_modules

# IDE - VSCode
*/.vscode/*
*/!.vscode/settings.json
*/!.vscode/tasks.json
*/!.vscode/launch.json
*/!.vscode/extensions.json

# misc
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/npm-debug.log
client/testem.log
client/typings

# e2e
client/e2e/*.js
client/e2e/*.map

# System Files
client/.DS_Store
client/Thumbs.db

